# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

help_deploy.md
help_git.md
help_git_actions.md
help_cors.md
gcp_json_key.json
.dockerignore
any.md
.VSCodeCounter
test_rest.http
HELP.md
.env*
cors.json
.firebase